<%- include("partials/header") %> 
<section id="homepage">
  <div class="container">
    <div class="home-content">
      <div class="content-area">
        <h1 class="text-center">Login As</h1> <br/>
        <div class="home-button">
          <a href="/teacher/login" class="btn btn-lg btn-primary button-margin">Teacher</a>
          <a href="/student/result" class="btn btn-lg btn-primary button-margin">Student</a>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include("partials/footer") %> 